{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime",
    },],
    ["import", { libraryName: "antd", style: "css" }] // `style: true` 会加载 less 文件
  ],

}
